name: Docker CI

on:
  push:
    branches:
      - dev

jobs:
  docker-build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Build docker image
        run: docker build -t my-app .

      - name: Run tests in docker container
        run: docker run my-app npm test
